@font-face {
    font-family: 'font1';
    src: url('/Gilroy-Medium.e7e7c091.ttf') format('woff2'),
        url('/Gilroy-Medium.e7e7c091.ttf') format('woff');
}

@font-face {
    font-family: 'font2';
    src: url('Gilroy-SemiBold.f3ed44cd.ttf') format('woff2'),
        url('/Gilroy-SemiBold.f3ed44cd.ttf') format('woff');
}

@font-face {
    font-family: 'font3';
    src: url('/Mazius-Extraitalic.121a71a7.otf') format('woff2'),
        url('/Mazius-Extraitalic.121a71a7.otf') format('woff');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'font1';
    color: #2d2d2d;
    background-color: #fff4e711;
}

#main {
    width: 100%;
}

#loader {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background-color: #2d2d2d;
    color: #fff;
    font-family: 'font1';
    font-weight: 200;
    position: fixed;
    font-size: 12px;
    z-index: 9999;
}

#loader #topHeading {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#loader h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'font2';
    font-size: 5.5vw;

    /* background-color: red; */
}

.reveal .parent {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
}

.reveal .parent .child {
    display: block;
}

.reveal .pathak {
    font-family: 'font3';
    font-weight: 100;
    color: #52E0ED;
}

.parent .child span {
    display: inline-block;
}

#green {
    /* display: none; */
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0vh;
    z-index: 999;
    background-color: #52E0ED;
}

#home {
    width: 100%;
    height: auto;
}

#home #nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #2d2d2d;
    padding: 0 5vw;
    font-size: 12px;
}

#nav a {
    position: relative;
    text-decoration: none;
    color: #2d2d2d;
    font-family: 'font1';
    font-weight: 500;
    text-transform: uppercase;
}

#nav a .line {
    position: absolute;
    right: 0;
    bottom: 0;
    display: inline-block;
    width: 100%;
    height: 0.5px;
    background-color: #2d2d2d;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#nav a:hover .line {
    width: 0;
}

#row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7vw;
    margin-top: 2vw;
    padding-right: 12vw;
    color: #383838;
    line-height: 1.2;

}

#row h1 {
    font-size: 13vw;
    font-family: 'font1';
    font-weight: 100;

}

#row .text span {
    font-family: font3;
}

#row h5 {
    opacity: 0.5;
    font-family: 'font1';
    font-weight: 100;
    font-size: 15px;
    text-transform: uppercase;
}

#row:nth-child(3) {
    margin-top: 0;
}

#row svg {
    height: 140px;
    padding-left: 100px;
    padding-right: 40px;
}

#imagery {
    width: 100%;
    padding: 0 7vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20vw;
    color: #414141;
    padding: 7vw 7vw;
}

#imagery .imgLeft {
    width: 30%;
    height: auto;
    /* background-color: #281111; */
}

.imgLeft h1 {
    font-size: 2.4vw;
    font-family: 'font1';
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    line-height: 1;
}

.imgLeft h1 span {
    color: #52E0ED;
    font-family: font3;
    text-transform: capitalize;
    font-style: italic;
}

.imgRight {
    height: 300px;
    width: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
}

.imgRight .img-container {
    position: absolute;
    background-color: red;
    width: 30vw;
    height: 40vw;
    border-radius: 1vw;
    filter: grayscale();
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    cursor: pointer;

}

.imgRight .img-container:hover {
    filter: grayscale(0);
    transform: scale(2);

}

.imgRight .img-container:nth-child(1) {
    transform: translate(-40%, -35%) rotate(-20deg);
    background-image: url("https://images.unsplash.com/photo-1524201373483-b95dee91cddb?q=80&w=1948&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.imgRight .img-container:nth-child(2) {
    transform: translate(-0%, -30%) rotate(0deg);
    background-image: url("https://images.unsplash.com/photo-1663091383771-c61a7365aa78?q=80&w=1950&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

.imgRight .img-container:nth-child(3) {
    transform: translate(20%, -30%) rotate(10deg);
    background-image: url("https://images.unsplash.com/photo-1526510747491-58f928ec870f?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

#works {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-color: #F2F2F2;
}

#works::before {
    content: '';
    position: absolute;
    top: -75px;
    width: 100%;
    height: 150px;
    z-index: -1;
    transform: rotate(-180deg);
    background-image: url("https://abhishekjha.me/rip.f6d7c4dd.svg");
    background-size: cover;
}

#works .work-row {
    padding: 5vw 15vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-row h1 {
    font-size: 8vw;
    font-family: font1;
    font-weight: 100;
    display: flex;
    align-items: baseline;
}

.work-row h1 span {
    color: #52E0ED;
    font-family: font3;
    font-style: italic;
}

.o-ui-arrow {
    stroke: #52E0ED;
    rotate: 90deg;

}

.mini {
    font-size: 1vw;
    font-family: font1;
    font-weight: 200;
    margin: 0 0 0 0.5vw;

}

#images {
    width: 100%;
    position: relative;
   margin-top: 5vw;
   padding: 0 5vw;
   display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.cont {
    overflow: hidden;
    border-radius: 4vw;
}

.cont img {
    width: 105%;
}
#cont1{
    width: 55%;
}

#cont2{
    width: 26%;
}